mixin content-education(degree, years, uname, text)
    .point
        i(class="material-icons icons-size")= lens
    .subheader
        .degree= degree
        .years= years
    .uname= uname
    .text= text