
mixin education(education)
    .education
        +block-header(education.icon, education.header)
        each edu in education.eduList
            .content
                .point
                    i(class="material-icons icons-size")= 'lens'
                .subheader
                    .degree= edu[0]
                    .years= edu[1]
                .uname= edu[2]
                .text= edu[3]
