
mixin blocks(element)
    .blocks
        +header(element.icon, element.header)
        .blocks__content
            each elem in element.list
                .blocks__unit
                    .blocks__point
                        i(class="material-icons icons-size")= 'lens'
                    .blocks__subheader
                        .blocks__degree= elem[0]
                        .blocks__years= elem[1]
                    .blocks__name= elem[2]
                    .blocks__text= elem[3]
