
mixin experience(experience)
    .experience
        +block-header(experience.icon, experience.header)
        each exp in experience.expList
            .content
                .point
                    i(class="material-icons icons-size")= 'lens'
                .subheader
                    .compname= exp[0]
                    .expyears= exp[1]
                .ujh= exp[2]
                .exptext= exp[3]
