
mixin experience(experience)
    .experience
        +block-header(experience.icon, experience.header)
        .experience__content
            each exp in experience.expList
                .experience__unit
                    .experience__point
                        i(class="material-icons icons-size")= 'lens'
                    .experience__subheader
                        .experience__company_name= exp[0]
                        .experience__years= exp[1]
                    .experience__job= exp[2]
                    .experience__text= exp[3]
