mixin unit(elem, theme)
    .unit
        .unit__point
            i(class="material-icons icons-size")= 'lens'
        .unit__header
            if theme=="highlighted"
                .unit__header-text.unit__header-text_base-color= elem.header
            else
                .unit__header-text= elem.header
            .unit__header-years= elem.dates
        .unit__name= elem.subheader
        .unit__text= elem.text