mixin unit(elem, highlighted)
    .unit
        .unit__point
            i(class="material-icons icons-size")= 'lens'
        .unit__header
            if highlighted=="highlighted"
                .unit__header-text.unit__header-text_base-color= elem[0]
            else
                .unit__header-text= elem[0]
            .unit__header-years= elem[1]
        .unit__name= elem[2]
        .unit__text= elem[3]