mixin unit({header, dates, subheader, text}, theme)
    .unit
        .unit__point
            i(class="material-icons icons-size unit__material-point")= 'lens'
        header.unit__header
            if theme=="highlighted"
                .unit__header-text.unit__header-text_base-color= header
            else
                .unit__header-text= header
            .unit__header-years= dates
        .unit__name= subheader
        article.unit__text= text